/* NAVBAR */
body {
	background: linear-gradient(110deg,  #f1faee 0%, #a8dadc 100%);
  }
  
  #main {
	margin-top: 20px;
	text-align: center;
  }

.nav-link.active,
.nav-link:active,
.nav-link:focus {
  background-color: #254355;
  color: #457B98;
}

.nav-link:hover {
  background-color: #254355;
  color: #fff;
}
/* NAVBAR */


/* Formality Check */
body {
  font-family: sans-serif;
}

.card-container {
  width: 400px;
}

#formality-wrapper {
  padding-top: 5%;
  display: flex;
  flex-direction : column;
  align-items: center;
  max-width: 400px;
  text-align: center;

}


.card {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.casual {
  font-family: 'Comic Sans MS', cursive;
}

.formal {
  font-family: 'Times New Roman', serif;
}

.business {
  font-family: 'Arial', sans-serif;
}

.lounge {
  font-family: 'Courier New', monospace;
}

/* Formality Check */

/* Display */

#display-wrapper {
  padding: 10% 2% 2% 2%;
  display: flex;
  flex-direction : column;
  align-items: center;
  text-align: center;

}

.card-color {
  height: 30px;
}

#display-wrapper .card-title {
  font-weight: 200 !important
}

#prev {
  margin-right: 30px;
}

#next {
  margin-left: 30px;
}



/* Loader */

.loader {
  width: 48px;
  height: 48px;
  background: #457b9d;
  display: block;
  margin: 20px auto;
  position: relative;
  box-sizing: border-box;
  animation: rotationBack 1s ease-in-out infinite reverse;
}
.loader::before {
  content: '';  
  box-sizing: border-box;
  left: 0;
  top: 0;
  transform: rotate(45deg);
  position: absolute;
  width: 48px;
  height: 48px;
  background: #457b9d;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #FFF;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* Loader */